html, body {
	display:block;
	width:610px;
	border:1px solid red;
	margin:0;
	padding:0;
	font-family: "Open Sans", sans-serif;
}
p{
	margin:10;
	font-family: "Open Sans", sans-serif;
}

.header{
	background: url("../img/logo.png");
	display:block;
	width:610px;
	height:177px;
   font-family: open-sans;

}
.white-text{
	color:white;
    font-family: open-sans, sans-serif;
}
.upper-nav{
	display:block;
	width:100%;
	height:75px;
	background: #f1f1f1;
	border-bottom:5px solid #ed1c24;

}
.player-box{
	display:block;
	width:100%;
	height:auto;
	background: #ed1c24;
}
.title-box{
	display: block;
	width:100%;
	height:212px;
	background:#ed1c24;
}

.descriptor{
	display:block;
	width:100%;
	height:180px;
	background: #f1f1f1;
}
.black-button{
height: 36px;
line-height: 36px;
color: #fff;
border-radius: 3px;
background: url(../img/black-button-bg.jpg) repeat-x 0 0 #000;
box-shadow: 0 3px 3px rgba(0,0,0,0.3);
display: inline-block;
text-decoration: none;
font-size: 14px;
font-weight: 500;
/*padding: 0 15px;*/
position: relative;
overflow: hidden;
border: none;
}
.container {
     display:block;
    width:463px;
    margin:auto;
    
}
.nav-bar{
    width:100% !important;
    height: 44px;
    border-radius: 3px;
	background: url(../img/nav-bar-bg.jpg) repeat-x 0 0 #000;
	box-shadow: 0 3px 3px rgba(0,0,0,0.3);
	display: inline-block;
	text-decoration: none;
	color:#FFFFFF;
	line-height: 44px;

}
.nav-bar h3{
     font-family: open-sans, sans-serif;
     font-weight:300;
     display:inline-block;
     margin-left: 15px;
     float:left;

}
.time-selector{
	float:right;
	margin: 6px 10px;
	display:inline-block;
}

.clock-icon{
	display:block;
	width:23px;
	height:23px;
	background: url('../img/clock-icon.png') no-repeat;
	float:left;
	margin: 2px 5px 0 0 ;
}
.time-display{
	display:block;
	width:95px;
	height:27px;
	line-height:27px;
	background: url('../img/time-selector.png') no-repeat;
	float:left;
	color:#000000;
	padding-left: 10px
}
.time-display:hover{
	background-position: 0 -27px;
	height: 38px;
	color:#FFFFFF;
}
.thumb-box{
    background:url('../img/thumb-box.png') no-repeat transparent;
    position:relative;
    width:134px;
    height:106px;
}
.thumb-box img {
    width:120px;
    height:90px;
    overflow:hidden;
    margin: 7px;
}

.dropdown{
    display:block;
    width:463px;
    margin:auto;
    background:#f9f9f9;
}

.dropdown ul{
    display:block;
    width:100%;
    height: 105px;
    margin:15px;
    
    
    
}
.dropdown ul li{
	float:left;
	width:170px;
	display:block;
	margin-bottom:5px;
}
.dropdown ul li a{
	text-decoration:none;
	color:#000000;
	font-weight:600;
	background: url('../img/li-bullets.png') no-repeat;
	font-size: 12px;
	padding-left:20px;
}
.dropdown ul li a:hover{
	color:#ed1c24;
	background-position: 0 -22px;
}

.dropdown-shadow{
    display:block;
    width:610px;
    height:27px;
    background:url("../img/dropdown-shadow.png") no-repeat transparent;
}
.play-button {
	display:block;
	background: url('../img/play-button.png') no-repeat transparent;
	width:46px;
	height: 46px;
	position:absolute;
	top:50%;
	left:50%;
	margin: -23px 0 0 -23px


 }
 .play-button:hover{
 	background-position: 0 - 46px;
 }
 .time-display{
 	
 }
